# poetry
# poetry.lock

# local env files
.env
.env.local

# DB
chroma_db
Wallet_MLDB

# python library
# requirements.txt

# uploaded files
uploads

# venv
venv/
.venv/

# pycache
__pycache__/

# logging
*.log

# security
*.pem